.container {        
    width   : 800px;
    border  : 1px solid #cccccc;
    padding : 10px;
    display : grid;
    grid-template-columns: 2fr 8fr;
    column-gap : 10px;
    margin  : 0 auto;
}

.item {
    border  : 1px solid #cccccc;
    padding : 5px;

}
